html {
    font-size : 16px;
}

body{
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    margin: 0%;
}

p{
    margin: 0;
    padding: 0;
}

.break{
    flex-basis: 100%;
    height: 0px;
}

.container{
    margin: 0%;
    background-color: aqua;
    font-size: 40pt;
}

/* Header Styling */
.con-1{
    background-color: red;
    flex-basis: 100%;
    height: 10%;
    align-content: center;
}

#sign-upButton1{
    margin: 0;
    margin-right: 5%;
    display: flex;
    justify-content: end;
    
}

#sign-upButton2{
    width: 10%;
}

/* Timer Styling */
.con-2{
    background-color: green;
    flex-basis: 40%;
    height: 60%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#study{
    grid-area: 1 / 1 / 1 / 1;
}

#short_break{
    grid-area: 1 / 3 / 1 / 3;
}

.timer_display{
    display: flex;
    align-self: center;
    justify-self: center;
    gap: 5px;
    font-size: 30px;
    font-weight: bold;
}

.label{
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
}

#study_timer{
    grid-area: 2 / 1 / 2 / 1;
}

#break_timer{
    grid-area: 2 / 3 / 2 / 3;
}

.buttons{
    align-self: center;
    justify-self: center;

    width: 50px;
    height: 30px;
    font-size: 12px;
}

#start{
    grid-area: 3 / 1 / 3 / 1;
}

#pause{
    grid-area: 3 / 2 / 3 / 3;
}

#reset{
    grid-area: 3 / 3 / 3 / 3;
}

/* Calendar Styling */
.con-3{
    background-color: blue;
    flex-basis: 60%;
    height: 60%;
}

/* Tamagotchi Styling */
.con-4{
    background-color: yellow;
    flex-basis: 40%;
    height: 30%;
}

/* #tamagotchi {
    position : relative;
    top : 65vh;
    left : 3vw;
    box-sizing : content-box;
    height : 20vh;
    width : 10vw;
    font-size : 1rem;
    box-sizing : content-box;
    overflow-y: auto;
} */

#paperClip {
    margin-top : 3%;
    margin-left : 3%;
    margin-bottom : 3%;
    height : 5vh;
    width : 5vw;
}

#input {
    margin-left : 3%;
}

/* Heatmap Styling */
.con-5{
    background-color: orange;
    flex-basis: 60%;
    height: 30%;
}

#heatmapContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
}

#heatmapContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0%;
}

.heatmapItem {
    width: 2.5vw;
    height: 2.5vw;
    margin: 1%;
    background-color: white;
    font-size: 1rem;
    display: flex;
}

