html {
    background-color: #275291;
    font-family: 'Roboto Mono', serif;
    font-size : 16px;
}

.bottom-left-clip {
    position: fixed;     /* pin to viewport */
    bottom: 0;
    left: 0;
    /* set to half of your image’s height */
    height: 200px;       /* e.g. if the image is 200px tall */
    /* match the image’s width (or let it size naturally) */
    width: 600px;
    overflow: hidden;    /* hide anything outside this box */
    pointer-events: none;/* so it doesn’t intercept clicks, if you want */
  }
  
  .bottom-left-clip img {
    display: block;      /* remove any inline-gap */
    /* push the image down so only its top half shows */
    position: relative;
    bottom: 0;
    height: 600x;
    width: 600px;
  }

html, body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 5vh;
    font-weight: 400;
    text-align: center;
    
}

#main-div {
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 40vh;
    height: 50vh;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.84);
}

#userEmail, #user, #pass {
    border : none;
    border-radius: 6px;
    outline : none;
    background-color: #f2f2f2;
    height : 40px;
    width : 270px;
    margin-bottom : 30px;
}

#userEmail::placeholder, #user::placeholder, #pass::placeholder {
    color : #222;
    transition : color 0.5s ease;
    opacity : 0.7;
}

#userEmail:focus::placeholder, #user:focus::placeholder, #pass:focus::placeholder {
    color : transparent;
}

#form-div {
    margin: 20px 20px;
}

#form {
    margin: 20px 20px;
}

#submit-button {
    display: block;
    background-color: orange;
    font-family : inherit;
    margin-top : 10px;
    margin : 0 auto;
    border-radius : 5px;
    width : 150px;
    align-self: center;
    justify-self: center;
}

#EmailError {
    opacity : 0;
    color : red;
    position : absolute;
    top : 60px;

}


@media (min-width : 576px) {
    #main-div {
        margin: 300px 300px;
    }

    #form-div {
        left : 50px;
        top : 110px;
    }

    h1 {
        margin-top : 40px;
        margin-left : 40px;
        font-size : 2rem;
    }

    #EmailError {
        top : 70px;
        left : 20px;
    }
}